body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #000; /* Borde negro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0 5px;
}

h2 {
    color: #007BFF;
    margin-top: 30px;
}

.section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.skills li {
    background-color: #eef;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}

.print-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.print-button:hover {
    background-color: #0056b3;
}

/* Ocultar el botón al imprimir */
@media print {
    .print-button {
        display: none;
    }
}



